@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Quattrocento:wght@400;700&display=swap");

@font-face {
    font-family: Quattrocento;
    src: "./Quattrocento-Regular.ttf";
}

@font-face {
    font-family: Delius;
    src: "./Delius-Regular.ttf";
}

@theme {
    --font-delius: Delius, "cursive";
    --font-quattrocento: Quattrocento, "serif";
}
